body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 1240px;
  margin: 20px auto;
  padding-right: 10px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.boxbot {
  position: relative;
}

.boxbot-map {
  border-collapse: collapse;
  float: left;
}

td.boxbot-box {
  border: 1px solid #bdc3c7;
  padding: 5px;
  font-size: 12px;
}

.boxbot-box[data-type="y-axis"],
.boxbot-box[data-type="x-axis"] {
  border: 0;
}

.boxbot-box[data-type="y-axis"] {
  text-align: right;
}

.boxbot-box[data-type="x-axis"] {
  text-align: center;
}